/*menu*/
.menu{
    background-color: #DCDCDC;
}

.icones_menus{
    width: 20px;
    height: 17px;
}

.texto_menu{
    font:  12px/16px FoundryMonoline-Medium;
    letter-spacing: 0px;
    color: #707070;
}

/*informações do topo*/
#info_topo{
    padding-top:23px;
}
#inf_topo_logo {
    width: 200px;
    height: 51px;
    opacity: 1;
}
#inf_topo_texto1{
    font: Italic 16px/21px FoundryMonoline-MedIta;
    letter-spacing: -0.7px;
    color: #727B7A;
    opacity: 1;
    margin: 0px;
}
#inf_topo_texto2{
    font: Italic 26px/35px FoundryMonoline-ExBdIta;
    letter-spacing: 0px;
    color: #DF0209;
    opacity: 1;
    margin: 0px;
}
