/*rodapé*/
.rodape_geral{
    margin-bottom: 0px !important;
    margin-top: 60px;
}
.rodape_caixa{
    width: 270px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DF0209;
    border-radius: 5px;
    opacity: 1;
}
#rodape_caixa_texto1{
    font: 14px/19px FoundryMonoline-Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0px 0px 0px;
    padding-top:17px;
    padding-left:30px;
    text-align:left;
}
#rodape_caixa_texto2{
    font: Bold 22px/30px FoundryMonoline-Medium;
    letter-spacing: 0px;
    color: #DF0209;
    margin: 0px 0px 0px;
    padding-bottom:18.78px;
}
#rodape_caixa_texto3{
    font: Italic 16px/21px FoundryMonoline-MedIta ☞;
    letter-spacing: -0.7px;
    color: #727B7A;
    opacity: 1;
    margin: 0px 0px 0px;
    padding-top:13px;
}
#rodape_caixa_texto4{
    font: Italic 26px/35px FoundryMonoline-ExBdIta ☞;
    letter-spacing: 0px;
    color: #DF0209;
    opacity: 1;
    margin: 0px 0px 0px;
    padding-bottom:14px;
}
.redes_socias{
    width: 40px;
    height: 40px;
    background: #C5C5C5 0% 0% no-repeat padding-box;
    opacity: 1;
}
.rodape_frase{
    font: Italic 24px/32px FoundryMonoline-ExBdIta ☞;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
#rodape_frase{
    width: 100%;
    height: 32px;
    font: Italic 24px/32px FoundryMonoline-ExBdIta ☞;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-top:17px;
    padding-bottom:20px;
}
#localizacao{
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 10px;
    width: 27px;
    height: 39px;
}

/*informações abaixo rodapé*/
#inf_rodape{
    margin-bottom: 15px;
}
#inf_rodape_frase{
    text-align: left;
    font: 12px/16px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    width: 207px;
    height: 16px;
    margin: 0px 0px 0px;
    padding-top: 20px;
    padding-left:13.7px ;
}
#inf_rodape_img1{
    width: 110px;
    height: 28px;
}
#inf_rodape_img2{
    /*padding-right: 421px;*/
}

@media only screen and (max-device-width: 375px) {
    /*informações do rodapé*/
    #inf_rodape_frase{
        padding: 0px 40px 0px 0px;
        text-align: center;
    }
    #inf_rodape_textimg2{
        padding: 32.7px 51px 48px 51px;
    }
    #inf_rodape_img2{
        padding: 50px 51px 48px 0px;;
    }
}
